/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 2.8.1
*/

.slider-skin {position:relative; width:1000;height:715;}
#slider-h-slider {position:absolute; left:241; top: 568;cursor:pointer;}
#slider-h-slider #slider-thumb {position:absolute;cursor:move;}
.slider-skin #slider-h-slider {background:url(/img/slider/black-line.gif) repeat-x 0px 13px;height:27px;width:439px;}
.slider-skin #slider-h-slider #slider-thumb{top:0px;}

#preloader {
	position:absolute;
	width:1000;
	height:715;
	background: #000 repeat left top;
	z-index: 1000;
	filter: alpha(opacity=50); ..-opacity:0.5; opacity:0.5; -khtml-opacity:0.5;
}

form input.t {
	border: 1px solid #797982;
	background: none;
	height: 20px;
	width: 197px;
	margin-bottom:10px;
	color: #797982;
	font-style: italic;
}

form textarea {
	border: 1px solid #797982;
	background: none;
	height: 60px;
	width: 197px;
	margin-bottom:10px;
	color: #797982;
	font-style: italic;
}