<b>{left_side_navigation}&nbsp;&nbsp;<!-- BEGIN main_pager_page --><!-- BEGIN main_pager_page_number --><!-- BEGIN page_current_number -->{page_number_value}<!-- END page_current_number --><!-- BEGIN page_common_number --><A HREF="{page_url}">{page_number_value}</A><!-- END page_common_number --><!-- END main_pager_page_number --><!-- BEGIN main_pager_separator -->&nbsp;&nbsp;&nbsp;&nbsp;<!-- END main_pager_separator --><!-- END main_pager_page -->&nbsp;&nbsp;{right_side_navigation}</b>
