@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
	display: block;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

a {
	color: inherit;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
	outline: 0;
}

input {
	border-width: 0;
}

em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

sub {
	vertical-align: text-bottom;
	font-size: 58.3%; /*Corresponds to Photoshop's font size glyph transformation*/
}

img,
embed,
object,
video {
	max-width: 100%;
}

.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* ie 6/7 */
}

.no-space-between-inline-blocks {
	letter-spacing: -0.31em; /* webkit */
	*letter-spacing: normal; /* reset IE < 8 */
	word-spacing: -0.43em; /* IE < 8 && gecko */
}

/* restore spacing on inner elements */
.no-space-between-inline-blocks > * {
	letter-spacing: normal;
	word-spacing: normal;
}

.displace {
	position: absolute;
	left: -5000px;
}

body {
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-decoration: none;
}
.global_container_ {
	float: none;
	height: auto;
	margin: 0 auto;
	padding: 13px 0;
	position: relative;
	width: 100%; /* 1920px / 1920px = 100% */
	background: #ffffff center 0;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.head {
	margin: 0 auto;
	position: relative;
	width: 100%; /* 962px / 1920px = 50.104168% */
	max-width: 1024px;
}
.row-4 {
	margin: 0 auto;
	position: relative;
	width: 99.7921%; /* 960px / 962px = 99.7921% */
}
.logo {
	float: left;
}
.col-23 {
	float: left;
	margin: 12px 0 0 0; /* 56px / 960px = 5.833333% */
	position: relative;
	width: calc(50% - 75px); /* 369px / 960px = 38.4375% */
	box-sizing: border-box;
	padding: 0 30px;
}
.orgkomitet {
	color: #f32008;
	font-size: 20px;
	text-transform: uppercase;
}
.row-14 {
	margin: 3px 0 0;
	position: relative;
}
.row-14 > * {
	float: left;
	margin: 0 0.543478% 0 0; /* 2px / 368px = 0.543478% */
}
.row-14 > *:last-child {
	margin-right: 0 !important;
}
.text {
	width: 63.315216%; /* 233px / 368px = 63.315216% */
	font-size: 16px;
	line-height: 1.2;
}
.icon_location-copy-3 {
	margin-top: 18px !important;
}
.text-2 {
	color: #f32008;
	font-size: 12px;
	text-decoration: underline;
	margin-top: 24px !important;
}
.col-9 {
	float: right;
	margin: 5px 0 0 0; /* 79px / 960px = 8.229167% */
	position: relative;
	width: calc(40% - 90px); /* 306px / 960px = 31.875% */
}
.row-7 {
	position: relative;
}
.text-3 {
	float: left;
	margin: 6px 0 0 0.326797%; /* 1px / 306px = 0.326797% */
	width: 75.67974%; /* 253px / 306px = 82.67974% */
	color: #f32008;
	font-size: 27px;
}
.text-4 {
	float: right;
	width: 20.993464%; /* 52px / 306px = 16.993464% */
	line-height: 1.2;
}
.row-8 {
	margin: 8px auto 0;
	position: relative;
	width: 98.69281%; /* 302px / 306px = 98.69281% */
}
.rounded-rectangle-1-holder {
	float: left;
	min-height: 31px;
	width: 47.682117%; /* 144px / 302px = 47.682117% */
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f32008;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(147, 32, 19, 0.25); /*inner shadow*/
	-moz-box-shadow: inset 0 -5px 0 0 rgba(147, 32, 19, 0.25); /*inner shadow*/
	box-shadow: inset 0 -5px 0 0 rgba(147, 32, 19, 0.25); /*inner shadow*/
	color: #ffffff;
	line-height: 31px;
	text-align: center;
	text-transform: uppercase;
}
.rounded-rectangle-1-copy-holder {
	float: right;
	min-height: 31px;
	cursor: pointer;
	width: 47.682117%; /* 144px / 302px = 47.682117% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #f32008;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(147, 32, 19, 0.25); /*inner shadow*/
	-moz-box-shadow: inset 0 -5px 0 0 rgba(147, 32, 19, 0.25); /*inner shadow*/
	box-shadow: inset 0 -5px 0 0 rgba(147, 32, 19, 0.25); /*inner shadow*/
	color: #ffffff;
	line-height: 31px;
	text-align: center;
	text-transform: uppercase;
}
.text-7 {
	height: 7px;
	/*margin: 7px 0 0;*/
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-transform: uppercase;
	/*border-bottom: 1px dashed #6a6a6a;*/
	background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
background-position: bottom;
background-size: 4px 2px;
background-repeat: repeat-x;
}
.main-content-wrapper {
	margin: 27px auto 0;
	position: relative;
	width: 100%; /* 960px / 1920px = 50% */
	max-width: 1024px;
}
.text-8 {
	margin: 0 22.5%; /* 216px / 960px = 22.5% */
	opacity: 0.5;
	font-size: 24px;
	text-transform: uppercase;
}
.card {
	margin: 27px 0 0;
	min-height: 305px;
	padding: 18px 0.729167% 19px 1.145833%; /* 7px / 960px = 0.729167%, 11px / 960px = 1.145833% */
	position: relative;
	background: #f6f6f6;
}
.col-8 {
	float: left;
	margin: 4px 0.106157% 0 0; /* 1px / 942px = 0.106157% */
	position: relative;
	width: 69.42675%; /* 654px / 942px = 69.42675% */
}
.text-9 {
	margin: 0 0 0 0.764526%; /* 5px / 654px = 0.764526% */
	width: 78.74618%; /* 515px / 654px = 78.74618% */
	font-size: 16px;
	line-height: 1.2;
}
.text-10 {
	margin: 9px 0 0 0.611621%; /* 4px / 654px = 0.611621% */
	color: #a3a3a3;
	line-height: 1.2;
}
.row-12 {
	margin: 19px auto 0;
	position: relative;
	width: 99.38838%; /* 650px / 654px = 99.38838% */
}
.col-19 {
	float: left;
	margin: 1px 0 0;
	position: relative;
	width: 32.615383%; /* 212px / 650px = 32.615383% */
}
.text-11 {
	color: #f32008;
	text-decoration: underline;
}
.text-12 {
	margin: 13px 0 0;
	color: #f32008;
	text-decoration: underline;
}
.col-20 {
	float: left;
	margin: 1px 0 0 3.692308%; /* 24px / 650px = 3.692308% */
	position: relative;
	width: 25.846153%; /* 168px / 650px = 25.846153% */
}
.reglament {
	color: #f32008;
	text-decoration: underline;
}
.text-13 {
	margin: 10px 0 0;
	color: #f32008;
	text-decoration: underline;
}
.col-21 {
	float: left;
	margin: 0 0 0 4.461538%; /* 29px / 650px = 4.461538% */
	position: relative;
	width: 33.384617%; /* 217px / 650px = 33.384617% */
}
.text-14 {
	color: #f32008;
	text-decoration: underline;
}
.instrukciya {
	margin: 13px 0 0;
	color: #f32008;
	text-decoration: underline;
}
.text-15 {
	margin: 9px 0 0;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
}
.row-11 {
	margin: 11px 0 0;
	position: relative;
	width: 94.95413%; /* 621px / 654px = 94.95413% */
}
.col-16 {
	float: left;
	position: relative;
	width: 32%; /* 209px / 621px = 33.655396% */
	height: 140px;
}
.text-16 {
	color: #a3a3a3;
	text-align: center;
	text-transform: uppercase;
}
.logo1 {
	display: block;
	margin: 10px auto 0;
	/*width: 45.933014%; !* 96px / 209px = 45.933014% *!*/
	max-width:130px;
	max-height:100px;
	height:auto;
	width:100%;
}
.text-17 {
	margin: 8px 0 0;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
}
.col-17 {
	float: left;
	margin: 0 0 0 7.568438%; /* 47px / 621px = 7.568438% */
	position: relative;
	width: 26.892109%; /* 167px / 621px = 26.892109% */
}
.text-18 {
	color: #a3a3a3;
	text-align: center;
	text-transform: uppercase;
}
.logo2 {
	display: block;
	margin: 15px auto 0;
	position: relative;
	right: 1.497006%;
	width: 45.508984%; /* 76px / 167px = 45.508984% */
	max-height: 150px;

}
.text-19 {
	margin: 16px 0 0;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.col-18 {
	float: left;
	margin: 2px 0 0 7.085346%; /* 44px / 621px = 7.085346% */
	position: relative;
	width: 24.798712%; /* 154px / 621px = 24.798712% */
}
.orgkomitet-2 {
	color: #a3a3a3;
	text-align: center;
	text-transform: uppercase;
}
.logo3 {
	display: block;
	margin: 24px auto 0;
	width: 100%; /* 154px / 154px = 100% */
	max-height: 150px;

}
.text-20 {
	margin: 18px 0 0 27.922077%; /* 43px / 154px = 27.922077% */
	font-size: 12px;
	text-decoration: underline;
}
.form {
	float: left;
	height: 303px;
	position: relative;
	width: 30.46709%; /* 287px / 942px = 30.46709% */
}
.layer-8-copy {
	left: 95.12195%;
	position: absolute;
	top: 53px;
}
.layer-8 {
	left: 95.12195%;
	position: absolute;
	top: 7px;
}
.rounded-rectangle-2-copy {
	height: 268px;
	left: 4.181185%;
	position: absolute;
	top: 0;
	width: 94.07665%; /* 270px / 287px = 94.07665% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #bfbfbf;
}
.col-4 {
	left: 4.181185%;
	min-height: 206px;
	padding: 40px 5.923345% 22px; /* 17px / 287px = 5.923345% */
	position: absolute;
	top: 35px;
	width: 82.229965%; /* 236px / 287px = 82.229965% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #bfbfbf;
}
.avtorizaciya {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}
.rounded-rectangle-3-holder {
	margin: 16px 0 0;
	min-height: 18px;
	padding: 11px 4.444445% 9px; /* 12px / 270px = 4.444445% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	color: #a3a3a3;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
}
.rounded-rectangle-3-copy-holder {
	margin: 10px 0 0;
	min-height: 19px;
	padding: 10px 4.444445% 9px; /* 12px / 270px = 4.444445% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	color: #a3a3a3;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
}
.rounded-rectangle-1-copy-holder-2 {
	left: 19.491526%;
	margin: 9px auto 0;
	min-height: 17px;
	padding: 7px 0;
	cursor: pointer;
	position: relative;
	width: 61.01695%; /* 144px / 236px = 61.01695% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffc000;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(161, 106, 28, 0.25); /*inner shadow*/
	-moz-box-shadow: inset 0 -5px 0 0 rgba(161, 106, 28, 0.25); /*inner shadow*/
	box-shadow: inset 0 -5px 0 0 rgba(161, 106, 28, 0.25); /*inner shadow*/
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}
.row-2 {
	margin: 19px 0 0 0.37037%; /* 1px / 270px = 0.37037% */
	position: relative;
	width: 99.57627%; /* 235px / 236px = 99.57627% */
}
.rounded-rectangle-4-holder {
	float: left;
	margin: 0 6.808511% 0 0; /* 16px / 235px = 6.808511% */
	min-height: 27px;
	cursor: pointer;
	width: 51.06383%; /* 120px / 235px = 51.06383% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #32b022;
	color: #ffffff;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
}
.text-22 {
	float: left;
	margin: 9px 0 0;
	font-size: 12px;
	text-decoration: underline;
}
.layer-7-holder {
	left: 0;
	padding: 0 0 6px;
	position: absolute;
	top: 10px;
	width: 100%; /* 287px / 287px = 100% */
	background: url(images/layer_7.png) no-repeat center 0;
	-webkit-background-size: 100% 56px;
	-moz-background-size: 100% 56px;
	-o-background-size: 100% 56px;
	background-size: 100% 56px;
}
.layer-7-copy-holder {
	min-height: 25px;
	padding: 15px 9.407665% 10px; /* 27px / 287px = 9.407665% */
	width: 80.836235%; /* 232px / 287px = 80.836235% */
	background: url(images/layer_7_copy.png) no-repeat center 0;
	-webkit-background-size: 100% 50px;
	-moz-background-size: 100% 50px;
	-o-background-size: 100% 50px;
	background-size: 100% 50px;
	color: #ffffff;
	font-size: 26px;
	/*text-align: right;*/
	text-align: center !important;
	text-transform: uppercase;
}
.card-copy {
	margin: 19px 0 0;
	min-height: 305px;
	padding: 18px 0.729167% 19px 1.145833%; /* 7px / 960px = 0.729167%, 11px / 960px = 1.145833% */
	position: relative;
	background: #f6f6f6;
}
.col-6 {
	float: left;
	margin: 4px 0.106157% 0 0; /* 1px / 942px = 0.106157% */
	position: relative;
	width: 69.42675%; /* 654px / 942px = 69.42675% */
}
.text-24 {
	margin: 0 0 0 0.764526%; /* 5px / 654px = 0.764526% */
	width: 78.74618%; /* 515px / 654px = 78.74618% */
	font-size: 16px;
	line-height: 1.2;
}
.text-25 {
	margin: 9px 0 0 0.611621%; /* 4px / 654px = 0.611621% */
	color: #a3a3a3;
	line-height: 1.2;
}
.row-10 {
	margin: 19px auto 0;
	position: relative;
	width: 99.38838%; /* 650px / 654px = 99.38838% */
}
.col-13 {
	float: left;
	margin: 1px 0 0;
	position: relative;
	width: 32.615383%; /* 212px / 650px = 32.615383% */
}
.text-26 {
	color: #f32008;
	text-decoration: underline;
}
.text-27 {
	margin: 13px 0 0;
	color: #f32008;
	text-decoration: underline;
}
.col-14 {
	float: left;
	margin: 1px 0 0 3.692308%; /* 24px / 650px = 3.692308% */
	position: relative;
	width: 25.846153%; /* 168px / 650px = 25.846153% */
}
.reglament-2 {
	color: #f32008;
	text-decoration: underline;
}
.text-28 {
	margin: 10px 0 0;
	color: #f32008;
	text-decoration: underline;
}
.col-15 {
	float: left;
	margin: 0 0 0 4.461538%; /* 29px / 650px = 4.461538% */
	position: relative;
	width: 33.384617%; /* 217px / 650px = 33.384617% */
}
.text-29 {
	color: #f32008;
	text-decoration: underline;
}
.instrukciya-2 {
	margin: 13px 0 0;
	color: #f32008;
	text-decoration: underline;
}
.text-30 {
	margin: 9px 0 0;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
}
.row-9 {
	margin: 11px 0 0;
	position: relative;
	width: 94.95413%; /* 621px / 654px = 94.95413% */
}
.col-10 {
	float: left;
	position: relative;
	width: 33.655396%; /* 209px / 621px = 33.655396% */
}
.text-31 {
	color: #a3a3a3;
	text-align: center;
	text-transform: uppercase;
}
.logo1-2 {
	display: block;
	margin: 10px auto 0;
	width: 45.933014%; /* 96px / 209px = 45.933014% */
}
.text-32 {
	margin: 8px 0 0;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
}
.col-11 {
	float: left;
	margin: 0 0 0 7.568438%; /* 47px / 621px = 7.568438% */
	position: relative;
	width: 26.892109%; /* 167px / 621px = 26.892109% */
}
.text-33 {
	color: #a3a3a3;
	text-align: center;
	text-transform: uppercase;
}
.logo2-2 {
	display: block;
	margin: 15px auto 0;
	position: relative;
	right: 1.497006%;
	width: 45.508984%; /* 76px / 167px = 45.508984% */
}
.text-34 {
	margin: 16px 0 0;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
}
.col-12 {
	float: left;
	margin: 2px 0 0 7.085346%; /* 44px / 621px = 7.085346% */
	position: relative;
	width: 24.798712%; /* 154px / 621px = 24.798712% */
}
.orgkomitet-3 {
	color: #a3a3a3;
	text-align: center;
	text-transform: uppercase;
}
.logo3-2 {
	display: block;
	margin: 24px auto 0;
	width: 100%; /* 154px / 154px = 100% */
}
.text-35 {
	margin: 18px 0 0 27.922077%; /* 43px / 154px = 27.922077% */
	font-size: 12px;
	text-decoration: underline;
}
.form-2 {
	float: left;
	height: 303px;
	position: relative;
	width: 30.46709%; /* 287px / 942px = 30.46709% */
}
.layer-8-copy-2 {
	left: 95.12195%;
	position: absolute;
	top: 53px;
}
.layer-8-2 {
	left: 95.12195%;
	position: absolute;
	top: 7px;
}
.rounded-rectangle-2-copy-2 {
	height: 268px;
	left: 4.181185%;
	position: absolute;
	top: 0;
	width: 94.07665%; /* 270px / 287px = 94.07665% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #bfbfbf;
}
.col-2 {
	left: 4.181185%;
	min-height: 206px;
	padding: 40px 5.923345% 22px; /* 17px / 287px = 5.923345% */
	position: absolute;
	top: 35px;
	width: 82.229965%; /* 236px / 287px = 82.229965% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #bfbfbf;
}
.avtorizaciya-2 {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}
.rounded-rectangle-3-holder-2 {
	margin: 16px 0 0;
	min-height: 18px;
	padding: 11px 0 9px 10px; /* 12px / 270px = 4.444445% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	color: #a3a3a3;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
}
.rounded-rectangle-3-copy-holder-2 {
	margin: 10px 0 0;
	min-height: 19px;
	padding: 10px 4.444445% 9px; /* 12px / 270px = 4.444445% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	color: #a3a3a3;
	font-size: 18px;
	width: 100%;
	box-sizing: border-box;
}
.rounded-rectangle-1-copy-holder-3 {
	left: 19.491526%;
	margin: 9px auto 0;
	min-height: 17px;
	padding: 7px 0;
	cursor: pointer;
	position: relative;
	width: 61.01695%; /* 144px / 236px = 61.01695% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffc000;
	-webkit-box-shadow: inset 0 -5px 0 0 rgba(161, 106, 28, 0.25); /*inner shadow*/
	-moz-box-shadow: inset 0 -5px 0 0 rgba(161, 106, 28, 0.25); /*inner shadow*/
	box-shadow: inset 0 -5px 0 0 rgba(161, 106, 28, 0.25); /*inner shadow*/
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}
.row {
	margin: 19px 0 0 0.37037%; /* 1px / 270px = 0.37037% */
	position: relative;
	width: 99.57627%; /* 235px / 236px = 99.57627% */
}
.rounded-rectangle-4-holder-2 {
	float: left;
	margin: 0 6.808511% 0 0; /* 16px / 235px = 6.808511% */
	min-height: 27px;
	width: 51.06383%; /* 120px / 235px = 51.06383% */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #32b022;
	cursor: pointer;
	color: #ffffff;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
}
.text-37 {
	float: left;
	margin: 9px 0 0;
	font-size: 12px;
	text-decoration: underline;
}
.layer-7-holder-2 {
	left: 0;
	padding: 0 0 6px;
	position: absolute;
	top: 10px;
	width: 100%; /* 287px / 287px = 100% */
	background: url(images/layer_7.png) no-repeat center 0;
	-webkit-background-size: 100% 56px;
	-moz-background-size: 100% 56px;
	-o-background-size: 100% 56px;
	background-size: 100% 56px;
}
.layer-7-copy-holder-2 {
	min-height: 25px;
	padding: 15px 9.407665% 10px; /* 27px / 287px = 9.407665% */
	width: 80.836235%; /* 232px / 287px = 80.836235% */
	background: url(images/layer_7_copy.png) no-repeat center 0;
	-webkit-background-size: 100% 50px;
	-moz-background-size: 100% 50px;
	-o-background-size: 100% 50px;
	background-size: 100% 50px;
	color: #ffffff;
	font-size: 26px;
	text-align: right;
	text-transform: uppercase;
}
.foot {
	margin: 23px auto 23px;
	position: relative;
	width: 100%; /* 962px / 1920px = 50.104168% */
	max-width: 1024px;
}
.text-39 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-transform: uppercase;
	height: 14px;
	/*border-bottom: 2px dotted black;*/
	background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
background-position: bottom;
background-size: 4px 2px;
background-repeat: repeat-x;
}
.row-3 {
	margin: 18px 0 0;
	position: relative;
	width: 100%; /* 962px / 962px = 100% */
}
.col-22 {
	float: left;
	margin: 6px 0 0;
	position: relative;
	width: 22.765072%; /* 219px / 962px = 22.765072% */
}
.row-13 {
	margin: 16px auto 0;
	position: relative;
	right: 3.881279%;
	width: 67.57991%; /* 148px / 219px = 67.57991% */
}
.row-13 > * {
	float: left;
	margin: 0 1.662162% 0 0; /* 2.46px / 148px = 1.662162% */
}
.row-13 > *:last-child {
	margin-right: 0 !important;
}
.shape-8-copy-3 {
	width: 35px;
	-webkit-border-radius: 17.46px;
	-moz-border-radius: 17.46px;
	border-radius: 17.46px;
}
.shape-8-copy-2 {
	width: 35px;
	-webkit-border-radius: 17.46px;
	-moz-border-radius: 17.46px;
	border-radius: 17.46px;
}
.shape-8-copy-5 {
	width: 35px;
	-webkit-border-radius: 17.46px;
	-moz-border-radius: 17.46px;
	border-radius: 17.46px;
}
.shape-8-copy-2-holder {
	padding: 7px 0;
	position: relative;
	width: 23.64865%; /* 35px / 148px = 23.64865% */
	-webkit-border-radius: 17.46px;
	-moz-border-radius: 17.46px;
	border-radius: 17.46px;
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9InNoYXBlLTgtY29weS0yIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMjglIiB4Mj0iMTAwJSIgeTI9IjcyJSI+CjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZmYjQwMCIgc3RvcC1vcGFjaXR5PSIxIiAvPgo8c3RvcCBvZmZzZXQ9IjUxLjI5Mzk0NSUiIHN0b3AtY29sb3I9IiNmZjNmMDQiIHN0b3Atb3BhY2l0eT0iMSIgLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA3MmNhIiBzdG9wLW9wYWNpdHk9IjEiIC8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjc2hhcGUtOC1jb3B5LTIpIiAvPjwvc3ZnPg==);
	background: -moz-linear-gradient(24deg, #ffb400 0, #ff3f04 51.293945%, #0072ca 100%);
	background: -o-linear-gradient(24deg, #ffb400 0, #ff3f04 51.293945%, #0072ca 100%);
	background: -webkit-linear-gradient(24deg, #ffb400 0, #ff3f04 51.293945%, #0072ca 100%);
	background: -ms-linear-gradient(24deg, #ffb400 0, #ff3f04 51.293945%, #0072ca 100%);
	background: linear-gradient(66deg, #ffb400 0, #ff3f04 51.293945%, #0072ca 100%);
}
.ins {
	display: block;
	margin: 0 auto;
	width: 60%; /* 21px / 35px = 60% */
}
.text-41 {
	float: left;
	margin: 0 0 0 7.796258%; /* 75px / 962px = 7.796258% */
	width: 21.725573%; /* 209px / 962px = 21.725573% */
}
.text-42 {
	float: left;
	margin: 2px 0 0 16.112267%; /* 155px / 962px = 16.112267% */
	width: 31.392931%; /* 302px / 962px = 31.392931% */
	font-size: 12px;
	line-height: 16px;
}
.text-style-2 {
	color: #f32008;
	font-size: 16px;
	line-height: 22px;
}
.color119400 {
	color: #119400;
}
.color119300 {
	color: #119300;
}
.text-style {
	display: block;
	line-height: 11px;
	margin-bottom: 0;
}
.text-style-3 {
	line-height: 22px;
}
.popup{
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.4);
	overflow: auto;
}
.popup-exit {
	position: absolute;
	top: 0;
	right: 0;
	transition: opacity .25s ease-in-out;
	cursor: pointer;
}
.popup-exit::before, .popup-exit::after {
	display: block;
	content: '';
	position: absolute;
	left: 25%;
	top: calc(50% - 1px);
	width: 50%;
	height: 2px;
	background-color: currentColor;
}
.popup-exit::before {
					transform: rotate(45deg);
}
.popup-exit::after {
					transform: rotate(-45deg);
}			
.popup-exit {
		width: 30px;
		height: 30px;
}

.popup-exit:hover {
		opacity: 0.75;
}

.popup-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	min-height: 100%;
}

.popup-content {
	position: relative;
	display: inline-block;
	max-width: 750px;
	width: 100%;
	min-width: 750px;
	padding: 40px;
	background-color: #fff;
}
.-popupOpened {
	overflow: hidden;
}
.popup-header {
	line-height: 1.1;
}

.popup-title {
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-size: 36px;
	font-style: normal;
	font-weight: normal;
}
.popup-title-bold {
	display: inline;
	font-weight: bold;
}
.popup-subtitle {
	color: #000000;			
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 30px;
}
.popup-form {}

.dd-row {
	box-sizing: border-box;
	margin-left: -10px;
	margin-right: -10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	min-width: 0;
}
.dd-row .dd-col {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	flex-shrink: 1;
	flex-basis: auto;
	padding: 0 10px;
}

.dd-row .dd-col-6 {
	width: 50%;
}

.dd-row .dd-col-4 {
	width: 33.3%;
}
.dd-row .dd-col-8 {
	width: 66.6%;
}

.dd-input {
	/*Костыли*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: none;
	padding: initial;
	height: auto;
	border: initial;
	border-left: initial;;
	background: initial;
	outline: initial;;
	font-size: initial;
	letter-spacing: initial;
	color: initial;
	-webkit-appearance: initial;
	/*конец костыля*/
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	padding: 10px;
	border: 2px solid rgba(0,0,0,0.1);
	border-left: 3px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
	width: 100%;
	margin: 0;

}

.dd-paragraph {
	margin-bottom: 15px;
}

.dd-fileInput {
	/*Костыли*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: none;
	padding: initial;
	height: auto;
	border: initial;
	border-left: initial;;
	background: initial;
	outline: initial;;
	font-size: initial;
	letter-spacing: initial;
	color: initial;
	-webkit-appearance: initial;
	/*конец костыля*/
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	padding: 10px;
	border: none;
/*	border: 2px solid rgba(0,0,0,0.1);
	border-left: 3px solid rgba(0,0,0,0.2);*/
	box-sizing: border-box;
	width: 100%;
	margin: 0;
}

.dd-input.-invalid {
	border-color: rgba(243, 32, 8, 0.5);
	border-left-color: rgba(243, 32, 8, 0.9);
}

.dd-button {
	border: 0px solid transparent;
	border-left: 4px solid rgba(147, 32, 19, 0.25);
	background: #f32008;
	margin: 0 0 2px 0;
	padding: 10px;
	color: #000000;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	cursor: pointer;
	color: #fff;
	width: 100%;
}

.popup-button {
	display: flex;
	align-items: flex-end;
	justify-content: stretch;
}

body {
	min-width: 1024px;
}

table.registration .input .text {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
table.registration .label {
	display: table-cell;
	vertical-align: center;
	text-align: left;
}
.rounded-rectangle-1-holder.crutch {
	float: none;
	display: inline-block;
	width: auto;
	padding-left: 30px;
	padding-right: 30px;
	height: auto;
	text-indent: 0;
	font-size: 16px;
	line-height: 31px;
	letter-spacing: 0;
}

.mb10 {
	margin-bottom: 10px;
}

.dd-border {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.h1-title {
	font-size: 24px;
	margin-bottom: 20px;		
}

.h2-title {
	font-size: 18px;
	/*margin-bottom: 30px;*/
}

.dd-label {
	margin-bottom: 0px;
    display: flex;
    align-items: center;
}

.dd-label:first-of-type {
	margin-top: 20px;
}

.dd-label input[type="checkbox"], .dd-label input[type="radio"] {
	margin: 0;
	margin-right: 10px;
	height: auto;
}

.dd-label input[type="checkbox"] {
	-webkit-appearance: checkbox;

}

.dd-label input[type="radio"] {
	-webkit-appearance: radio;
}

.dd-label input[type="text"] {
	-webkit-appearance: textfield;
}

.input-default {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: none; 
    padding: 5px 10px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background: #f9f8f7;
    outline: none;
    font-size: 14px;
    letter-spacing: 0;
    color: #353a68;
     -webkit-appearance: textfield; 
}
.input-default:first-of-type {
	margin-top: 10px;
}
.dd-question {
	line-height: 1.4;
	margin-bottom: 20px;
}

.y-already {
	margin-left: 0;
	background-size: 25px;
}

.fr-menu {
	text-align: right;
}

.onstep .step-l h2 {
	padding: 0;
}

._good {
	font-size: 12px;
	color: #00A000;
}

._sad {
	font-size: 12px;
	color: #9A0000;
 }

.y-already {
	background: url("/img/bgclock.png") 0 20px no-repeat;
	padding: 20px 0 10px 45px;
	margin: 0 0 0 35px;
	width: 440px;
	color: #515151;
	font-size: 9pt;
	font-family: Arial, Helvetica, sans-serif;
}

.y-stop {
	background-size: 25px;
}

.y-passed {
	background-size: 25px;
}

.testText-bold {
	font-weight: bold;
}
.signIn-field {
	letter-spacing: 0.4px;
}

.dd-space-small {
	margin-bottom: 10px;
}

.dd-space-medium {
	margin-bottom: 20px;
}

.dd-space-large {
	margin-bottom: 30px;
}

.loginBlock-grid {}
.loginBlock-grid-item {
	margin-bottom: 10px;
}
.loginBlock-label {
	display: inline-block;
	min-width: 70px;
	vertical-align: middle;
}
.loginBlock-input {
	display: inline-block;
	max-width: 250px;
	vertical-align: middle;
}

.footer .dd-link .rounded-rectangle-1-holder.crutch {
	width: auto !important;
}
.row-14.group > img {
	display: block;
}
.row-14.group .text-2 > img {
	display: none;
}
.col-22 p {
	margin-bottom: 10px;
	display: inline-block;
	width: 40%;
}
.col-22 .row-13.group {
	width: calc(58% - 20px);
	position: static;
	margin: 0;
	margin-left: 20px;
	display: inline-block;
}
.col-22 .row-13.group > a {
	width: 31%;
}

.footer-mazzmedia a {
	color: red;
 }



/* Жосткий костыльный адаптив главной */
@media all and (max-width: 640px) {
	.pageMain {
		min-width: 0;
	}
	.pageMain .dd-logo {
		text-align: center;
		display: block;
	}
	.pageMain .dd-logo > img {
		float: none;
		width: 200px;
		height: auto;
	}
	.pageMain .text-2 {
		margin-bottom: 15px;
	}
	.pageMain .text-3 {
		text-align: right;
	}
	.pageMain .text-7 {
		margin-top: 15px;
	}
	.pageMain .row-8.group {
		width: 90%;
	}
	.pageMain .card.group {
		padding: 15px;
		padding-bottom: 50px;
	}
	.pageMain .col-23 {
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	.pageMain .reglament, .text-14 {
		margin-top: 10px;
	}
    .pageMain .row-14.group .text {
	    width: 100%;
    }
	.pageMain .row-14.group .text-2 {
		width: 100%;
		margin-top: 0 !important;
	}
	.pageMain .row-14.group > img {
		display: none;
	}
	.pageMain .row-14.group .text-2 > img {
		display: inline-block;
		margin-right: 5px;
		margin-top: 0 !important;
	}
    .pageMain .col-9.group {
	    width: 100%;
    }
    .pageMain .col-8 {
	    width: auto;
	    margin-bottom: 30px;
    }
    .pageMain .text-9 {
	    width: auto;
    }
    .pageMain .col-19, .pageMain .col-20, .pageMain .col-21 {
	    box-sizing: border-box;
	    width: 90%;
	    margin-left: 0;
    }
    .pageMain .text-15 {
	    display: none;
    }
    .pageMain .row-11.group {
	    display: none;
    }
    .pageMain .form {
	    width: 100%;
    }
    .pageMain .col-22 {
	    width: 100%;
	    text-align: center;
	    margin-bottom: 20px;
    }
    .pageMain .col-22 p {
	    margin-bottom: 10px;
	    width: 100%;
    }
    .pageMain .row-13.group {
	    width: 100%;
	    margin: 0;
	    margin-bottom: 10px;
	    position: static
    }
	.pageMain .row-13.group > a {
		float: none;
	}
    .pageMain .text-41 {
	    width: 100%;
	    margin: 0;
	    text-align: center;
	    margin-bottom: 20px;
    }
    .pageMain .text-42 {
	    width: 100%;
	    margin: 0;
	    text-align: center;
    }
    .pageMain .footer .dd-link {
	    text-align: center;
	    display: inline-block;
	    width: 100%;
	    margin-top: 20px;
    }
	.pageMain .footer .dd-link .rounded-rectangle-1-holder.crutch {
		margin: 0 !important;
		width: auto !important;
	}
}