body {
  font-family: Arial, sans-serif;;
  margin: 5 5 5 5;
  background-color: rgb(255,250,212);
  font-size: 14px;
}

h1
{
  font-size: 150%;
}

h2
{
  font-size: 120%;
  color: black;
  text-align: left;
  margin: 25px 0px 15px 0px;
}

h3
{
  font-size: 110%;
  color: black;
  text-align: left;
  margin: 20px 0px 10px 0px;
  font-style: italic;
}

h4
{
  font-size: 100%;
}


a {
  color: #04A2E4;;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a img{border:0 none #000;}

p {
	text-align: justify;
	text-indent: 0pt;
}

.marked
{
  margin: 20px 15px;
  padding: 5px 10px;
  background: rgb(240,233,216);
}

.floating_flash {
	border: #666666 1px solid; 
	padding: 10 10 10 10; 
	background-color: rgb(240,233,216); 
	display: none; 
}

