{portfoliowork_content}
<br>
<script language="JavaScript"><!--
	var v2cimg=0;
	var imagegal = new Array();
	var topics = new Array();
	var descriptions = new Array();
	<!-- BEGIN image_item -->
	imagegal[{i}]= new Image();
	imagegal[{i}].src='{ii_src}';
	imagegal[{i}].width={ii_width};
	imagegal[{i}].height={ii_height};
	topics[{i}]={image_item_topic_id};
	descriptions[{i}]='descript{image_item_id}';
	<!-- END image_item -->
	var v2total=imagegal.length;

	function v2changeimg(nr){
			 img = imagegal[nr];
			 var a=document.getElementById('v2bigimg');
			 if (a) {
				 a.width=img.width;
				 a.height=img.height;
				 a.src=img.src;
			 }
			 v2cimg=nr;
			 borderhighlight(nr);
			 showdescription(nr);
			 switchtopic(nr);
	}

	function v2nextimg(){
			 if( ++v2cimg >= v2total ) {
				v2cimg=0;
			 }

			 var a=document.getElementById('v2bigimg');
			 img=imagegal[v2cimg];
			 if (a) {
				 a.width=img.width;
				 a.height=img.height;
				 a.src=img.src;
			 }
			 borderhighlight(v2cimg);
			 showdescription(v2cimg);
			 switchtopic(v2cimg);
	}

	function borderhighlight(nr){
		 for(var i=0; i < v2total; i++ ){
			 var a = document.getElementById('smallimg'+i);
			 if(a){
				if(i==nr){
					a.style.border="1px solid red";
				}else {
					a.style.border="1px solid #A4D404";
				}
			 }

		 }
	}

	function showdescription(nr){
		 for(var i=0; i < topics.length; i++ ){
			 var a = document.getElementById(descriptions[i]);
			 if(a) a.style.display="none";
		 }
		 var a = document.getElementById(descriptions[nr]);
		 if(a) a.style.display="block";
	}

	function switchtopic(nr) {
		 for(var i=0; i < topics.length; i++ ){
			 var a = document.getElementById('topic'+topics[i]);
			 if(a) a.style.display="none";
		 }
		 var a = document.getElementById('topic'+topics[nr]);
		 if(a) a.style.display="block";
	}
//--></script>		  

<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ebf8cb">
<!-- BEGIN image_item_pv_row -->
<tr><td align="center">
	<br>
	<!-- BEGIN image_item_pv -->
	<img src="{ii_pv_src}" width="{ii_pv_width}" height="{ii_pv_height}" alt="{ii_pv_alt}" border="0" id="smallimg{i}" style="cursor: pointer;" onClick="v2changeimg({i})">
	<!-- END image_item_pv -->
</td></tr>
<!-- END image_item_pv_row -->
<tr><td align="left" style="padding: 10 15 0 15;">
	<!-- BEGIN descript_row --><div id="descript{image_item_id}" style="display:none;"><b>{image_item_title_ru}</b><br>{image_item_description_ru}</div>
	<!-- END descript_row -->
</td></tr>
<!-- BEGIN image_big -->
<tr>
	<td align="center" bgcolor="#ebf8cb">&nbsp;<br><img src="{ii_src}" width="{ii_width}" height="{ii_height}" alt="{ii_alt}" border="0"><br>&nbsp;</td>
</tr>
<!-- END image_big -->
<!-- BEGIN image_big_clickable -->
<tr>
	<td align="center" bgcolor="#ebf8cb">&nbsp;<br><img src="{ii_src}" width="{ii_width}" height="{ii_height}" alt="{ii_alt}" border="0" id="v2bigimg" style="cursor: pointer;" onClick="v2nextimg()"><br>&nbsp;</td>
</tr>
<!-- END image_big_clickable -->
</table>
<script language="JavaScript"><!--
	borderhighlight ({active_image_i});
//--></script>
{other_projects}