<input class="b" type="button" style="font-weight:bold;width:25px" value="B" onclick="insertFormat('B');"><input class="b"
type="button" style="font-style:italic;width:25px" value="I" onclick="insertFormat('I');"><input class="b"
type="button" style="text-decoration:underline;width:25px;" value="U" onclick="insertFormat('U');">
&nbsp;<input class="b" type="button" value=" &lt;-' " onclick="insertBR();">