<div><!-- BEGIN pager_page --> &nbsp;<A HREF="{href}">{first_row}&minus;{last_row}</A>&nbsp; <!-- END pager_page -->
<!-- BEGIN pager_current_page --> &nbsp;<B>{first_row}&minus;{last_row}</B>&nbsp; <!-- END pager_current_page --></div>