.form_item {
    width: 100%;
    margin-bottom: 10px;
}
.form_item label {
    float: left;
    width: 90px;
    text-align: right;
    padding-right: 10px;
}
.form_item textarea {
    width: 500px;
    height: 120px;
}
#forms_div > div {
    display: none;
}
#first .variants,
#second .variants {
    margin-bottom: 20px;
}
.border,
#first .variants + .form_item,
#second .variants + .form_item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}