<ul class="docs">
	<!-- BEGIN list_row --><li><a href="{structure_page_address}">{structure_name}</a></li>
	<!-- BEGIN list_row_children_block --><ul>
	<!-- BEGIN list_row_child --><li><a href="{structure_page_address}">{structure_name}</a></li><!-- END list_row_child -->
	</ul>
	<!-- END list_row_children_block --><!-- END list_row -->
</ul>