.ac_results {
	padding:				0px;
	border:					1px solid #333333;
	background-color:		#FFFFFF;
	overflow:				hidden;
	z-index:				99999;
}

.ac_results ul {
	width:					100%;
	list-style-position:	outside;
	list-style:				none;
	padding:				0px;
	margin:					0px;
}

.ac_results li {
	margin:					0px;
	padding:				2px 5px;
	cursor:					default;
	display:				block;
	font:					menu;
	font-size:				12px;
	line-height:			16px;
	overflow:				hidden;
}

.ac_loading {
	background:				#FFFFFF url(../images/indicator.gif) right center no-repeat;
}

.ac_odd {
	background-color:		#EEEEEE;
}

.ac_over {
	background-color:		#666666;
	color:					#FFFFFF;
}
