﻿html {
	overflow-x:			auto;
}

body {
	background-color:	#FFFFFF;
	color:				#000000;
	font-size:			12px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		normal;
	text-decoration:	none;
	margin:				5px 5px 20px 5px;
}

table.listmessenger-window {
	background-color:	#FFFFFF;
	width:				100%;
	height:				550px;
	text-align:			left;
}

td {
	color:				#000000;
	font-size:			12px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		normal;
}

td.logged-text {
	color:				#666666;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-size:			10px;
	padding-right:		5px;
}

div.generic-message {
	background-color:	#F1F1F1;
	border:				1px #CCCCCC solid;
	padding:			10px;
	color:				#333333;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:		15px;
}

div.success-message {
	background-color:	#DEE6E3;
	border:				1px #A9D392 solid;
	padding:			10px;
	color:				#333333;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:		15px;
}

div.notice-message {
	background-color:	#FFFFCC;
	border:				1px #FFCC00 solid;
	padding:			10px;
	color:				#333333;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:		15px;
}

div.error-message {
	background-color:	#FFD9D0;
	border:				1px #CC0000 solid;
	padding:			5px;
	color:				#333333;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:		15px;
}

div.generic-message ul,
div.success-message ul,
div.notice-message ul,
div.error-message ul {
	list-style-type:	none;
	padding:			10px;
	margin:				0px;
	padding-top:		4px;
}

div.generic-message ul li {
	padding:			0px 0px 0px 18px;
	vertical-align:		middle;
}

div.success-message ul li {
	padding:			0px 0px 0px 18px;
	vertical-align:		middle;
	background:			transparent url(../images/note-success.gif) no-repeat 0px 2px;
}

div.notice-message ul li {
	padding:			0px 0px 0px 18px;
	vertical-align:		middle;
	background:			transparent url(../images/note-notice.gif) no-repeat 0px 2px;
}

div.error-message ul li {
	padding:			0px 0px 0px 18px;
	vertical-align:		middle;
	background:			transparent url(../images/note-error.gif) no-repeat 0px 2px;
}

div.autocomplete {
	position:			absolute;
	width:				250px;
	background-color:	white;
	border:				1px solid #888;
	margin:				0px;
	padding:			0px;
}

div.autocomplete ul {
	list-style-type:	none;
	margin:				0px;
	padding:			0px;
}

div.autocomplete ul li.selected {
	background-color:	#FFFFBB;
}

div.autocomplete ul li {
	list-style-type:	none;
	display:			block;
	margin:				0px;
	padding:			2px;
	height:				32px;
	cursor:				pointer;
}

div.progress-text {
	color:				#666666;
	font-size:			13px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		normal;
	text-decoration:	none;
}

a.tooltip.req {
	color:				#CC0000;
	font-weight:		normal;
	border-bottom:		1px #CCCCCC dotted;
	text-decoration:	none;
	cursor:				help;
}
a.tooltip.req:hover {
	color:				#000000;
	text-decoration:	none;
}

a.tooltip.nreq {
	color:				#333333;
	font-weight:		normal;
	border-bottom:		1px #CCCCCC dotted;
	text-decoration:	none;
	cursor:				help;
}
a.tooltip.nreq:hover {
	color:				#000000;
	text-decoration:	none;
}

span.small-grey a.tooltip.req,
span.small-grey a.tooltip.nreq {
	color:				#999999;
	font-size:			10px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	text-decoration:	none;
	border-bottom:		none;
}

.required,
.form-row-req {
	color:				#CC0000;
	font-weight:		normal;
}

.not-required,
.form-row-nreq {
	color:				#333333;
	font-weight:		normal;
}

.form-row-err {
	color:				#CC0000;
	background-color:	#FFCCCC;
	font-weight:		bold;
	padding-left:		5px;
}

a {
	text-decoration:	none;
	color:				#999966;
	font-size:			12px;
	font-family:		Arial, Helvetica, sans-serif;
	font-weight:		bold;
}
a:hover {
	text-decoration:	none;
	color:				#663333;
}

a.menu {
	color:				#FF3300;
	font-size:			12px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		normal;
	text-decoration:	none;
}
a.menu:hover {
	text-decoration:	none;
	color:				#CC0000;
}

a.logout {
	text-decoration:	none;
	color:				#CC0000;
	font-size:			12px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-weight:		normal;
}
a.logout:hover {
	text-decoration:	none;
	color:				#000000;
}

a.preferences-title {
	color:				#669933;
	font-size:			12px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		bold;
	text-decoration:	none;
}
a.preferences-title:hover {
	text-decoration:	none;
	color:				#CC0000;
}

form {
	display:			inline;
}

select {
	padding:			0px;
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			12px;
	background-color:	#FFFFFF;
}

input.pass-box,
input.text-box {
	padding:			1px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-size:			12px;
	color:				#000000;
	background-color:	#F1F1F1;
	border:				1px #666666 solid;
	text-decoration:	none;
}

input.button {
	background-color:	#EEEEEE;
	background-image: 	url(../images/button-bg.gif);
	color:				#000000;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-size:			12px;
	text-decoration:	none;
	width:				105px;
	height:				20px;
	border:				none;
}

input.button-disabled {
	background-color:	#EEEEEE;
	background-image: 	url(../images/button-bg-disabled.gif);
	color:				#999999;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-size:			12px;
	text-decoration:	none;
	width:				105px;
	height:				20px;
	border:				none;
}

input.submit {
	background-color:	#EEEEEE;
	background-image: 	url(../images/button-bg.gif);
	color:				#000000;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-size:			12px;
	text-decoration:	none;
	width:				105px;
	height:				20px;
	border:				none;
}

h1 {
	color:				#666666;
	margin-top:			10px;
	border-bottom:		2px #CCCCCC solid;
	font-size:			15px;
	font-family:		Arial, Helvetica, sans-serif;
	font-weight:		bold;
	text-align:			left;
}

h2 {
	color:				#666666;
	font-size:			14px;
	font-family:		Arial, Helvetica, sans-serif;
	font-weight:		bold;
	text-align:			left;
}

textarea.progress-error {
	color:				#CC0000;
	font-size:			12px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		normal;
	text-decoration:	none;
}

.titlea {
	color:				#FFFFFF;
	font-size:			13px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		normal;
	text-decoration:	none;
}

.titleb {
	color:				#FFFFFF;
	font-size:			13px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		bold;
	text-decoration:	none;
}

.titlea-positive {
	color:				#666666;
	font-size:			13px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		normal;
	text-decoration:	none;
}

.titleb-positive {
	color:				#666666;
	font-size:			13px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		bold;
	text-decoration:	none;
}

.theading-off {
	color:				#000000;
	font-size:			12px;
	font-family:		Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		bold;
	text-decoration:	none;
}

.theading-off:hover {
	color:				#CC0000;
}

.theading-on {
	color:				#666666;
	font-size:			12px;
	font-family:		Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		bold;
	text-decoration:	underline;
}
.theading-on:hover {
	color:				#CC0000;
}

.setup-error-text {
	color:				#333333;
	font-size:			12px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	text-decoration:	none;
}

.small-grey {
	color:				#999999;
	font-size:			10px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	text-decoration:	none;
}

.copyright {
	color:				#999999;
	font-size:			9px;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		normal;
	text-decoration:	none;
}
.copyright:hover {
	text-decoration:	none;
	color:				#CC0000;
}

.help-image {
	width:				13px;
	height:				13px;
	cursor:				pointer;
}

.cursor-help {
	cursor:				 help;
}

.cursor {
	cursor:				pointer;
}

.search-heading {
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			12px;
	font-weight:		bold;
	padding-left:		3px;
	color:				#000000;
}

.search-on {
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			12px;
	font-weight:		bold;
	padding-left:		3px;
	color:				#333333;
}

.search-off {
	font-family:		Arial, Helvetica, sans-serif;
	font-size:			12px;
	font-weight:		bold;
	padding-left:		3px;
	color:				#CCCCCC;
}

.confirm-delete {
	color:				#CC0000;
	font-weight:		bold;
	border-bottom:		1px #CC0000 dotted;
}

.page-subheading {
	color:				#666666;
	font-size:			12px;
	font-family:		Arial, Helvetica, sans-serif;
	font-weight:		bold;
}

.hilight {
	color:				#FF0000;
	background-color:	#FFFF99;
	padding-left:		2px;
	padding-right:		2px;
	font-weight:		bold;
}

#shadow-container {
	position:			relative;
	left:				3px;
	top:				3px;
	margin-right:		3px;
	margin-bottom:		3px;
}

#shadow-container .shadow2,
#shadow-container .shadow3,
#shadow-container .container {
	position:			relative;
	left:				-1px;
	top:				-1px;
}

#shadow-container .shadow1 {
	background:			#F1F0F1;
}

#shadow-container .shadow2 {
	background:			#DBDADB;
}

#shadow-container .shadow3 {
	background:			#B8B6B8;
}

#shadow-container .container {
	background:			#ffffff;
	border:				1px solid #848284;
	padding:			0px;
}

div.msg_container {
	width:				98%;
	margin:				0px;
	padding:			0px;	
}

div.msg_container .resizable-textarea textarea,
div.msg_container #text_message {
	background-color:	#FFFFFF;
	width:				100%;
	height:				150px;
	border:				1px #CCCCCC solid;
	overflow:			auto;
	padding:			0px;
	padding-right:		0px;
	margin:				0px;
	resize:				none; 
}

div.msg_container #html_message {
	width:				100%;
	height:				350px;
}

div.msg_container div.grippie {
	background:			#F0F0EE url(../images/resize.gif) no-repeat bottom right;
	width:				100%;
	height:				20px;
	border:				1px #CCCCCC solid;
	border-top:			none;
	cursor:				se-resize;
	overflow:			hidden;
}

div.email-variables {
	padding:			4px;
	background-color:	#FFFFFF;
}

div.email-variables ul {
	list-style-type:	none;
	display:			block;
	margin:				0px 0px 10px 5px;
	padding:			3px;
}

div.email-variables ul li {
	background:			transparent url(../images/record-next-on.gif) no-repeat center left;
	padding-left:		15px;
	vertical-align:		middle;
	margin-bottom:		4px;
}

div.email-variables ul li a.tooltip.nreq {
	font-size:			13px;
}

table.tabular {
	width:				100%;
	text-align:			left
}

table.tabular thead tr td.off,
table.tabular thead tr td {
	height:				15px;
	border:				1px #9D9D9D solid;
	border-right:		none;
	background-image:	url(../images/table-head-off.gif);
	padding:			2px;
	color:				#000000;
	font-size:			12px;
	font-family:		Arial, Helvetica, sans-serif;
	font-style:			normal;
	font-weight:		bold;
	white-space:		nowrap;
	overflow:			hidden;
}

table.tabular thead tr td.on {
	background-image:	url(../images/table-head-on.gif);
}

table.tabular thead tr td.close.on {
	background-image:	url(../images/table-head-on.gif);
	border:				1px #9D9D9D solid;
}

table.tabular thead tr td.close.off,
table.tabular thead tr td.close {
	border:				1px #9D9D9D solid;
}

table.tabular tfoot tr td,
table.tabular tbody tr td {
	padding:			2px;
}

table.file-attachments tbody tr td,
table.manage-fields tbody tr td {
	padding:			6px 3px 6px 3px;
	border-bottom:		1px #CCCCCC dotted;
}

table.file-attachments tbody tr.na {
	background-color:	#FFD9D0;
}

table.file-attachments tbody tr.na td a {
	color:				#333333;
}

table.file-attachments tbody tr.na td {
	color:				#333333;
	border-bottom:		1px #CC0000 dotted;
}